* {
    background-color: rgb(255, 255, 255);
}
/*Fonts*/
.jacquard-12-regular {
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
}

.pixelify-sans-1 {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.coral-pixels-regular {
    font-family: "Coral Pixels", serif;
    font-weight: 400;
    font-style: normal;
}
